output/
outputs/
output_dtu/
output_dex/
output_translab/
output_real/
data/
*/__pycache__/
*.py[abc]
build/
blender/
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.wim
*.tar.7z
*.tar.lzma
*.csv
*.xlsx
*.pth
*.so
*.png
*.out
*.ply
dtu_dataset/